* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin-top: -18px !important;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background: #c0c0c000;
  position: absolute;
  width: 100%;
  z-index: 2;
}

header ul.menu {
  position: relative;
  margin: 70px 360px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header ul.menu li.menuitem {
  padding: 14px;
}

header ul.menu li.menuitem a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-family: sans-serif;
}

.logo {
  position: absolute;
  background: url(img/logo.png);
  width: 200px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 200px;
  bottom: 2px;
}

/* start of body */
.homepage {
  display: -ms-grid;
  display: grid;
  background: url(img/airplane.png);
  height: 1000px;
  width: 100%;
  position: relative;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "f f e e"
 "s s s s";
}

.homepage div {
  padding: 10px;
  width: 100%;
}

.fronttext {
  position: relative;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: f;
  width: 50%;
  text-align: left;
  float: left;
  left: 20%;
  top: 200px;
}

.fronttext h1.frontexth2 {
  font-size: 55px;
  font-family: fantasy;
  letter-spacing: 5px;
}

.fronttext h1.frontexth2 span.takeof {
  font-size: 65px;
  color: #ce171e;
  font-weight: 900;
}

.emptyspace {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: e;
  width: 50%;
}

.scroll {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: s;
  width: 100%;
}

button.ereg a {
  color: #ce171e;
  text-decoration: none;
}

button.contactregistation a {
  color: #ce171e;
  text-decoration: none;
}

button.learnmore {
  width: 171px;
  background: #ce171e;
  color: #fff;
  border: 0px;
  border-radius: 30px;
  padding: 17px;
  font-weight: 800;
}

button.learnmore a {
  color: #fff;
  text-decoration: none;
}

button.ereg {
  width: 174px;
  background: #fff;
  color: #ce171e;
  border: 2px solid #ce171e;
  border-radius: 30px;
  padding: 15px;
  font-weight: 800;
}

p.frontletter {
  font-weight: 800;
  color: #c3c3c3;
  font-family: sans-serif;
  font-size: 14px;
}

.scroll {
  top: 130px;
  position: absolute;
}

.scroll .scrolldown {
  font-family: fantasy;
  letter-spacing: 2px;
  color: #858585;
}

.emptyspace {
  color: #0000;
}

/* START SECOND DIV */
.secondsection {
  padding: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.secondsection div {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.img.image1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 400px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img1 {
  border-left: 63px solid #ce171e;
  position: absolute;
  background: url(img/meeting.jpg) center top;
  background-size: cover;
  width: 70%;
  height: 60%;
}

.img.image2 {
  -webkit-box-flex: 0.8;
      -ms-flex-positive: 0.8;
          flex-grow: 0.8;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 400px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img2 {
  position: absolute;
  background: url(img/cabins.jpg);
  background-size: cover;
  width: 100%;
  height: 88%;
}

.img.image3 {
  -webkit-box-flex: 0.6;
      -ms-flex-positive: 0.6;
          flex-grow: 0.6;
  margin-left: -10px;
  background: #ce171e;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 400px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img.image4 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 400px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img4 {
  margin-left: -10px;
  border-right: 63px solid #ce171e;
  position: absolute;
  background: url(img/airplanecabin.jpg);
  background-size: cover;
  width: 70%;
  height: 60%;
}

span.cabin {
  position: absolute;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-top: 100px;
  font-size: 20px;
  color: #fff;
  margin-left: -116px;
  font-family: fantasy;
}

span.cabin2 {
  position: absolute;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: 0px;
  font-size: 20px;
  color: #fff;
  margin-left: 252px;
  font-family: fantasy;
}

button.allsim a {
  color: #fff;
  text-decoration: none;
}

h1.frontexth22 {
  font-family: sans-serif;
  color: #fff;
  font-weight: 600;
}

p.frontletter2 {
  font-family: sans-serif;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

button.allsim {
  width: 179px;
  background: #fff0;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 30px;
  padding: 15px;
  font-weight: 800;
  margin: 38px 0px 0px 35px;
}

.line {
  position: absolute;
  left: 30px;
  width: 149px;
  height: 4px;
  background: #fff;
}

/* START OF ACHIVEMENT DIV*/
.achivement {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.achivement div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  padding: 20px;
}

.imgyear {
  background: url(img/calendar.png);
  width: 100px;
  height: 100px;
  background-size: cover;
}

.year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span.numberbold {
  font-weight: 800;
  color: #000;
}

span.headyear {
  font-size: 90px;
  font-family: fantasy;
  color: #00000012;
}

.text {
  font-family: sans-serif;
  margin-top: 19px;
  font-size: 19px;
  color: #00000080;
}

.imgyear2 {
  background: url(img/departure.png);
  width: 100px;
  height: 100px;
  background-size: cover;
}

.year2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span.numberbold2 {
  font-weight: 800;
  color: #000;
}

span.headyear2 {
  font-size: 90px;
  font-family: fantasy;
  color: #00000012;
}

.text2 {
  font-family: sans-serif;
  margin-top: 19px;
  font-size: 19px;
  color: #00000080;
}

.imgyear3 {
  background: url(img/student.png);
  width: 100px;
  height: 100px;
  background-size: cover;
}

.year3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span.numberbold3 {
  font-weight: 800;
  color: #000;
}

span.headyear3 {
  font-size: 90px;
  font-family: fantasy;
  color: #00000012;
}

.text3 {
  font-family: sans-serif;
  margin-top: 19px;
  font-size: 19px;
  color: #00000080;
}

.imgyear4 {
  background: url(img/sim.png);
  width: 105px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.year4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span.numberbold4 {
  font-weight: 800;
  color: #000;
}

span.headyear4 {
  font-size: 90px;
  font-family: fantasy;
  color: #00000012;
}

.text4 {
  font-family: sans-serif;
  margin-top: 19px;
  font-size: 19px;
  color: #00000080;
}

/* start of SIMULATIOR DIV */
.simulators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.simulators .title {
  text-align: center;
  padding: 160px;
}

.simulators h1.simulatortraining {
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  letter-spacing: -1px;
  font-weight: 900;
}

.simulators span.behind {
  margin-top: 2px;
  position: absolute;
  font-size: 82px;
  font-family: fantasy;
  letter-spacing: 18px;
  color: #00000014;
}

ul.gallerylist {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 60%;
  margin: 0 auto;
}

ul.gallerylist li {
  color: #0000006b;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  -webkit-transition: 400ms ease-in;
  transition: 400ms ease-in;
  -webkit-transform: scale(1);
          transform: scale(1);
}

ul.gallerylist li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #000;
}

::marker {
  color: #ce171e;
  font-size: 19px;
}

.simbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button.simbtns {
  width: 174px;
  background: #fff0;
  color: #ce171e;
  border: 2px solid #ce171e;
  border-radius: 30px;
  padding: 15px;
  font-weight: 800;
  margin: 38px 0px 0px 0px;
}

.galleryimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 170px;
}

a.a340:hover {
  cursor: pointer;
}

a.a320:hover {
  cursor: pointer;
}

a.a737:hover {
  cursor: pointer;
}

a.a330:hover {
  cursor: pointer;
}

a.a777:hover {
  cursor: pointer;
}

.travel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.travel .title2 {
  text-align: center;
  padding: 160px;
}

.travel h1.simulatortraining2 {
  font-size: 32px;
  font-family: sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  letter-spacing: -1px;
  font-weight: 900;
}

.travel span.behind2 {
  margin-top: 2px;
  position: absolute;
  font-size: 82px;
  font-family: fantasy;
  letter-spacing: 18px;
  color: #00000014;
}

.textcontact {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

button.contactusbtn {
  width: 157px;
  background: #ce171e;
  color: #fff;
  border: 0px;
  border-radius: 30px;
  padding: 17px;
  font-weight: 800;
  margin-right: 4px;
}

button.contactusbtn a {
  color: #fff;
  text-decoration: none;
}

button.contactregistation {
  width: 174px;
  background: #fff;
  color: #ce171e;
  border: 2px solid #ce171e;
  border-radius: 30px;
  padding: 15px;
  font-weight: 800;
}

.contacbuttons {
  margin-bottom: 90px;
  padding: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Start of footer */
footer.bottom {
  background: #31405f;
  height: 200px;
  width: 100%;
}

.logofooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(50%, #131c2e));
  background: linear-gradient(180deg, #fff 50%, #131c2e 50%);
}

footer.bottom {
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #131c2e;
  height: 100%;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: sans-serif;
  font-weight: 700;
  padding: 0 0 101px 0px;
}

footer.bottom div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 80px 0 0 150px;
}

h1.footertitle {
  font-size: 17px;
}

ul.footermenu {
  list-style: none;
}

ul.footermenu li {
  text-align: left;
  padding: 15px 0px 0px 0px;
}

ul.traninga li {
  margin: 14px;
}

.abouttext {
  font-size: 14px;
  text-align: left;
  margin: 15px 0px 0px 0px;
}

.traninga {
  list-style: none;
}

hr.devider {
  width: 46px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  line-height: 1.4;
  border-bottom: 2px solid #ce171e;
}

footer.footersocial {
  border-top: 1px solid #ffffff24;
  background: #131c2e;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

i.fab.fa-facebook-f {
  color: #fff;
  font-size: 31px;
}

i.fab.fa-twitter {
  color: #fff;
  font-size: 31px;
}

i.fab.fa-instagram {
  color: #fff;
  font-size: 31px;
}

i.fab.fa-pinterest-p {
  color: #fff;
  font-size: 31px;
}

ul.socialul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul.socialul li {
  padding: 40px;
}

footer.footerbottom ul {
  padding: 10px 0 10px 100px;
}

footer.footerbottom {
  border-top: 1px solid #ffffff24;
  background: #131c2e;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

footer.footerbottom div {
  padding: 17px 0px 11px 0px;
}

footer.footersocial ul {
  padding: 10px 0 10px 100px;
}

.private {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: sans-serif;
  font-weight: 700;
}

.terms {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-family: sans-serif;
  font-weight: 700;
}

.imgbottom {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer.copyright {
  padding: 20px 0 20px 0px;
  background: #131c2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff6e;
  font-family: sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search {
  z-index: 1;
  top: 69px;
  background: #ce171e;
  width: 40px;
  height: 39px;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  color: #fff;
  right: 128px;
  position: absolute;
}

.search:hover {
  cursor: pointer;
}

.searchline {
  overflow: hidden;
  top: 69px;
  position: absolute;
  background: #ce171e;
  width: 30px;
  height: 39px;
  border-radius: 51px;
  right: 131px;
  /*z-index: -1;*/
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
}

.closesearch {
  width: 150px;
}

textarea:focus, input:focus {
  outline: none;
}

input.searchinput {
  position: absolute;
  /*z-index: 9999;*/
  left: 14px;
  top: 15px;
  width: 100px;
  border-bottom: 1px solid #fff !important;
  background: #0000;
  border: 1px solid #0000;
  color: #fff;
}

.highlight {
  background: #ce171e;
  color: #fff;
  padding: 1px;
}


.preloaderairplane {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-image: url("img/loader.gif");
  background-repeat: no-repeat;
  background-color: #FFF;
  background-position: center;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-image: url("img/loader.gif");
  background-repeat: no-repeat;
  background-color: #FFF;
  background-position: center;
}

  a.bottomtel {
    color: #fff;
    text-decoration: none;
}


.desc{

opacity:1;
  transition:500ms ease-in;
}

.hidedesc{
opacity:0;
}
